@use "@/partials/abstracts/variables" as *;

@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin looksBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  border: $border-width solid $black;
}
