// Media Query Breakpoints
$mobile-breakpoint: 375px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$mobile-grid-gap: 0.5rem;

// Padding
$p0: 4px;
$p1: 8px;
$p2: 16px;
$p3: 24px;
$p4: 36px;

// Primary Colours
$black: #333333;
$white: #ffffff;
$light-gray: #f2f2f2;
$slate-gray: #d9d9d9;

$border-width: 0.75px;
